#navbarColor{
    background-color: blue;
}
.nav-item{
    background-color: #CCCCCCAA;
    border-radius: 0.2rem;
    margin: 0.2rem;
    margin-right: 0.2rem;
    text-shadow: 0.5px 0.5px 1px #000000;
}
h1{
    background-color: #CCCCCCEE;
    border-radius: 0.2rem;
    text-shadow: 1px 1px 2px #000000;
}
